.pirmoDivoSpalva{
	background-color: rgb(208, 116, 99);
}
.antroDivoSpalva{
	background-color: rgb(208, 118, 99);
}
.trecioDivoSpalva {
	background-color: rgb(208, 120, 99);
}
.ketvirtoDivoSpalva {
	background-color: rgb(208, 122, 99);
}
.tekstoSpalva{
	color: red;
	font-family: 'Encode Sans Expanded', sans-serif;
	text-align: center;
}
.fa-twitter {
	width: 50px;
	height: 50px;
}
.fa-facebook-f {
	width: 50px;
	height: 50px;
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }